<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="mongodb-database-server" value="mongodb://localhost:27017"/>
    <add key="mongodb-database-db" value="cinebot"/>
    <add key="person-page-index"  value="1" />
    <add key="person-page-alphabet"  value="A"  />
    <add key="cinema-page-index"  value="1"  />
    <add key="series-page-index"  value="1"  />
    <add key="entity-to-launch"  value="cinemaalwaysshowing"  />
  </appSettings>
</configuration>