<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBotService" closeTimeout="01:35:00" openTimeout="01:30:00" receiveTimeout="01:30:00" sendTimeout="01:30:00" maxBufferPoolSize="64000000" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <readerQuotas maxDepth="64000000" maxStringContentLength="64000000" maxArrayLength="64000000" maxBytesPerRead="64000000" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IAdminService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bot.service.teckions.com/BotService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBotService" contract="BotService.IBotService" name="BasicHttpBinding_IBotService" />
      <endpoint address="http://bot.service.teckions.com/AdminService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService" contract="AdminService.IAdminService" name="BasicHttpBinding_IAdminService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SendGrid.CSharp.HTTP.Client" publicKeyToken="79219bf4e5ecaaca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
