<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="mongodb-database-server" value="mongodb://localhost:27017"/>
    <add key="mongodb-database-db" value="cinebot"/>
    <add key ="person-page-index" value= "1"/>
    <add key ="person-page-alphabet" value = "A"/>
    <add key ="cinema-page-index" value = "1"/>
    <add key ="series-page-index" value = "1"/>
    <add key ="entity-to-launch" value = "cinemaalwaysshowing"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="64000000" maxReceivedMessageSize="64000000" maxBufferPoolSize="64000000" closeTimeout="01:35:00" openTimeout="01:30:00" receiveTimeout="01:30:00" sendTimeout="01:30:00" name="BasicHttpBinding_IBotService">
          <readerQuotas maxDepth="64000000" maxStringContentLength="64000000" maxArrayLength="64000000" maxBytesPerRead="64000000" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bot.service.teckions.com/BotService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBotService"
          contract="BotService.IBotService" name="BasicHttpBinding_IBotService" />
    </client>
  </system.serviceModel>
</configuration>
